main {
height: 200px;
width: 100%;
margin-top: 2%;
}
nav{
    background-color:white;
}

section{
    height: 100%;
    width: 40% !important;
    margin-top: 2%;
}
form{
    height: 100%;
    width: 35% !important;
    margin-top: 2%;
    max-width:500px
}
h1{
    margin-bottom:2%;
    font-size: 35px;
}
footer{
    text-align: center;
    font-size: 30px;
    background-color:black;
    color: white;
    margin-top: 2%;

}
footer i{
    font-size: 30px;
    letter-spacing: 20px;
}
.buyCoin{
    box-sizing: border-box;
    background-color: rgb(245, 245, 245);
    border-radius: 8px;
    padding: 14px 16px;
    border: 1px solid rgb(250, 250, 250);
    margin-bottom: 7%;
    max-height: 200px;
}
.buyCoin:hover{
    border:1px solid rgb(252, 213, 53) !important ;
}

.btnComprar{
    
    background-color: rgb(252, 213, 53);
    margin-top: 1%;
    width: 100%;

}
.logo{
    color:  rgb(252, 213, 53);
}
.center{
    text-align: center;
}
.fontColor{
    color:rgb(112, 122, 138);
    
}
.underline-dotted {
    text-decoration: underline dotted;
    text-decoration-color:rgba(112, 122, 138, 0.635);
  }

  .tooltip-inner {
    background-color:rgb(112, 122, 138);
  }
  .priceLabel{
    margin-left: 6%;
  }
  

  .selectCoin{
    box-sizing: border-box;
    background-color: white;
    border-radius: 50px;
    border: 1px solid white;
    height: 100%;
    max-height:38px;
    overflow: hidden;
    margin-left: 1%;
    width: auto;

  }
  .selectCoin:hover{
    cursor: pointer;
}
  .icon{
    max-width: 25px;
    height: 24px;
    margin-bottom: auto;
  }
  .imgList{
    max-height: 35px;
  }
  .titleCoin{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 14px;
    color: rgb(30, 35, 41);
    font-weight: 500;
    line-height: 20px;
    }
    .cardTitle{
        display: inline-block;
        background-color: rgb(252, 213, 53);
        border-radius: 20px;
        padding: 2px;
        padding-left: 8%;
        padding-right: 8%;
        margin-bottom: 3%;
        font-size: 12px !important;

    }

    .infoCoinCard{
        margin-left: 8%!important;
    }
    
  .descriptionCoin{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    line-height: 20px;
    color: rgb(112, 122, 138);
  }
  .porcentColor{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: rgb(3, 166, 109);
  }
  .porcentColorLow{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    font-size: 12px;
    line-height: 16px;
    text-align: right;
    color: rgb(207, 48, 74);
  }
  .last24{
    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    padding-bottom: 4px;
    color: rgb(30, 35, 41);
    font-size: 14px;
    text-align: right;
    font-weight: 500;
    line-height: 20px;
  }
  .cardCoin{
    background-color: white;/*rgb(245, 245, 245);*/
    border-radius: 10px;
    max-height: 150px;
    height: 100%;
    margin-left: 1%;
    margin-top: 1%;
    overflow: hidden;
    box-shadow: 7px 10px 15px -3px rgba(0,0,0,0.1);
    padding: 1%;
  }
  .cardCoin:hover{
    box-shadow: 7px 10px 15px -3px rgba(0,0,0,0.14);
  }
  .imgCard{
    max-height: 48px;
    margin-bottom: 8%;
    display: block;
  }
  .graph{
    max-height: 45px;
  }
  .fFgVaS.isUp {
    filter: hue-rotate(85deg) saturate(80%) brightness(0.85);
}
.fFgVaS {
    width: auto;
    height: auto;
    text-align: center;
    box-sizing: content-box;
    padding-top: 2px;
    padding-bottom: 3px;
    filter: hue-rotate(300deg) saturate(210%) brightness(0.7) contrast(170%);
}
.porcentColorCard{

    box-sizing: border-box;
    margin: 0px;
    min-width: 0px;
    line-height: 16px;
    text-align: end;
    color: rgb(3, 166, 109);
    padding-top: 29%;
    padding-right: 10%;
}